body {
  background-image: url("../img/time\ machine.jpeg");
  background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif; 
  }
  
  header {
    padding: 20px;  
    text-align: center;
  }
  
  .contenedor-play {
    display: flex;
    justify-content: flex-end;
    margin-left: 1080px;
    width: 230px;
    height: 40px;
    left: 400px;
  }

.botonsito-play {
  width: 400px;
  height: 40px;
  background-color: transparent;
  font-size: xx-large;
  color: white;
  border: 1.5px solid white;
  padding: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.botonsito-play:hover {
  background-color: rgba(255, 255, 255, 0.219);
  color: rgba(231, 228, 223, 0.644);
}

  .contenedor-botones {
   display: flex;
   justify-content: flex-end;
    gap: 20px;
    padding: 10px 20px;
  }

.boton {
  background-color: transparent;
  font-size: medium;
  color: white;
  border: 1.5px solid white;
  border-radius: 25px;
  padding: 14px 24px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 9px 7px 2.6px rgba(0, 0, 0, 0.3);
  }

.boton:hover {
  background-color: rgba(255, 255, 255, 0.219);
  color: rgba(231, 228, 223, 0.644);
}
  
  footer {
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

.playbutton {
  width:20px;
  height: 20px;
}