  
  body {
    margin: 0;
    background-image: url(../img/registrarse-3.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }

  
  main {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); 
  }
  
  form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 30px;
    border: 1.9px solid white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 300px;
  }
  
h2 {
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: bolder;
  text-align:center;
}

  form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
  }
  
  form button {
    padding: 12px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1.9px solid white;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: bolder;
  transition: 0.3s;
  }
  
  form button:hover {
    background-color: #d0d0d0;
    color: black;
  }